<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet" text="css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" text="css" />
</head>
<body>


<div class="container">
    <div id="anotherdiv" class="box" data="SomeData" ></div>
    <div class="box"></div>
    <div class="btn btn-primary"></div>
    
</div>

<div></div>
<!-- 
<div id="div1" data="Some value"></div>
<form name="theform">
    Name: <input type="text" name="fname">
    <input type="submit" value="Submit" onclick="validateForm()">
    </form>
<script src="script.js"></script> -->
<!-- <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->

<script src="script.js"></script>
</body>
</html>